<h3>This is the 'selecting' component</h3>
<p>See the HTML template and Typescript files for component explanation</p>
<!--
Explanations like this are included as comments because outputting raw
HTML in Angular is un-necessarily complex.

1.) By default Angular selects by custom elements. For instance
<app-root></app-root> will be selected in the root applications component
meta data. See "@Component" in app.component.ts. To select this you would
simply set the "selector:" as 'app-root' in the components meta data.

2.) You can select by a custom HTML attribute as well. In the component
meta data set the selector to '[app-root]'. This method of selecting would expect
something along the lines of <div app-root></div>. You can target any
normal HTML elements using this method.

3.) You can also select by HTML/CSS class. Set selector to: '.app-root'. This
would expect an HTML element with the class of 'app-root'. For example:
<div class="app-root"></div>

Selecting by id will not work. It is not supported.
Additionally, pseudo selectors such as ::hover will not work.
-->

