<p *ngIf="!allowDeals; else noDeals">Click the button! :D</p>
<ng-template #noDeals>
    <ul>
      <li>Add a button which says 'Display Deals'</li>
      <li>Add a paragraph with any content of your choice</li>
      <li>Toggle the displaying of that paragraoh with the button</li>
      <li>Log all button clicks in an array and output that array below the paragraph</li>
      <li>At the 5th log item, give all future items a blue background</li>
    </ul>
</ng-template>

<button class="btn btn-primary"
        (click)="onDeals()">Display Deals</button>

<p *ngFor="let deal of arrayDeals">{{countDeals}}</p>
