<label>Server Name</label>
<!--
<input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)">
-->
<input type="text"
       class="form-control"
       [(ngModel)]="serverName">
<p>{{ serverName }}</p>

<!--
Property bind to the native HTML property disabled
with a variable.
-->
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<br>

<!--
An example of Angular string interpolation:>
{{ allowNewServer }}
<!-- An example of Angular property binding
<p [innerText]="allowNewServer"></p>
 -->


<!-- <p>{{ serverCreationStatus }}</p> -->

<!--
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>
    No server was created
  </p>
</ng-template>
-->

<app-server *ngFor="let server of servers"></app-server>
