<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Sandbox-Angular</h3>

      <app-input-text></app-input-text>

      <app-servers></app-servers>

      <app-deals></app-deals>

    </div>
  </div>
</div>
